<h1>Decentralized enforcement of document lifecycle constraints</h1>

<table>
<tr><th>Author:</th><td>Sylvain Hallé</td></tr>
<tr><th>Version:</th><td>1.0</td></tr>
<tr><th>Date:</th><td>2016-12-22</td></tr>
</table>

<p>This lab contains a set of experiments for evaluating the generation
time and space consumption of peer-action sequences.
This is done by creating dummy sequences and measuring these two
parameters.</p>

<p>The data contained in this laboratory refers to a journal paper
titled <i>Decentralized Enforcement of Document Lifecycle Constraints</i>,
written by Sylvain Hallé, Raphaël Khoury, Quentin Betti, Yliès Falcone
and Tony Hokkayem. The paper is submitted to the <i>Information
Systems</i> journal.</p>

<p>More information on the concepts behind this laboratory have been
published in a previous conference paper.</p>

